<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Config -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wigellsconcert</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Classes -->
        <mapping class="com.example.wiggelsconcert.Entities.Customer" />
        <mapping class="com.example.wiggelsconcert.Entities.Address" />
        <mapping class="com.example.wiggelsconcert.Entities.Concert" />
        <mapping class="com.example.wiggelsconcert.Entities.Arena" />
        <mapping class="com.example.wiggelsconcert.Entities.WC" />

    </session-factory>
</hibernate-configuration>